<?xml version="3.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.classmatelin">

    <uses-permission
        android:name="android.permission.INJECT_EVENTS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!--Paho MQTT Service所需权限-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".myApplication"
        android:allowBackup="true"
        android:extractNativeLibs="true"
        android:icon="@drawable/img"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Classmatelin">
        <activity
            android:name=".HelpActivity"
            android:exported="true" />
        <activity
            android:name=".MusicPlayerSelectActivity"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/shape_circle" />

        <activity
            android:name=".FanActivity"
            android:exported="true"
            android:launchMode="singleInstance" />
        <activity
            android:name=".UserActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity2"
            android:exported="true" />

        <service
            android:name=".wakeUpService"
            android:enabled="true"
            android:exported="true" />
        <!-- Mqtt Service -->
        <service android:name="org.eclipse.paho.android.service.MqttService"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MyDialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>